__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
uploads/
grid.txt
.DS_Store
Thumbs.db
*.jpg
*.jpeg
*.png
*.webp
!static/**/*.jpg
!static/**/*.jpeg
!static/**/*.png
!static/**/*.webp
